body {
  position: relative;
  min-height: 100vh;

  &::before {
    content: "";
    display: block;
    background: #000 url("./../../images/backgrounds/bg_auth_card_img.jpg")
      no-repeat scroll center center / cover;
    z-index: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    position: fixed;
    filter: blur(10px);
    margin: auto;
    pointer-events: none;
    opacity: 0.35;
  }
}

#root {
  position: relative;
  z-index: 2;
}
