.accordion-info {
  .MuiPaper-root {
    background: transparent !important;
  }

  .list-info li div {
    padding: 0;
  }
}

@media (min-width: 992px) {
  .accordion-info {
    .list-info li div {
      p {
        flex: 2;
      }
    }
  }
}

@media (min-width: 1200px) {
  .accordion-info {
    .list-info li div {
      p {
        flex: 3;
      }
    }
  }
}
