.list-info {
  padding: 0;

  li {
    padding: 0;

    div {
      display: flex;
      justify-content: space-between;
      padding: 0 1.2rem;

      span {
        display: inline-block;
        flex: 1;
      }

      p {
        flex: 1;

        &::before {
          content: ":";
          display: inline-block;
          position: relative;
          left: -1.2rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .list-info {
    li {
      div {
        padding: 0 0.6rem;
      }
    }
  }
}
